<img width=45 src={{flags.svg}} alt={{flag}} />
<h3>{{name.official}}</h3>
<p><span>Capital: </span>{{capital}}</p>
<p><span>Population: </span>{{population}}</p>
<p><span>Languages : 
    
</span>{{#each languages}}{{this}}{{#unless @last}}, {{/unless}}  {{/each}}</p>
 

 
